/* styles.css */

body {
    text-align: center; /* จัดให้อยู่ตรงกลาง */
}

.center {
    display: block; /* กำหนดให้เป็นบล็อกเลยความกว้าง */
    margin: auto; /* จัดให้อยู่ตรงกลาง */
}

img {
    width: 500px; /* ปรับขนาดความกว้างเป็น 500px */
    height: auto; /* ให้ความสูงปรับอัตโนมัติเพื่อรักษาอัตราส่วน */
}

a {
    display: block; /* กำหนดให้ลิงก์เป็นบล็อก */
}
